<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Cursos</h4>
                      <p class="card-category"> Información</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Codigo
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Estado
                                  </th>
                                  <th>
                                      Fecha de inicio
                                  </th>
                                  <th>
                                      Fecha final
                                  </th>
                                   <th>
                                      Dias de clase
                                  </th>
                                   <th>
                                      Hora de inicio
                                  </th>
                                   <th>
                                      Hora final
                                  </th>
                                  <th>
                                      Asistencia
                                  </th>
                                  <th>
                                      Eliminar
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                         <button type="button" class="btn btn-info">Info</button>
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-danger">Danger</button>
                                      </td>
                                      
                                  </tr>
                                  <tr>
                                       <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-info">Info</button>
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-danger">Danger</button>
                                      </td>
                                  </tr>
                                  <tr>
                                       <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-info">Info</button>
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-danger">Danger</button>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-info">Info</button>
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-danger">Danger</button>
                                      </td>
                                  </tr>
                                 <tr>
                                       <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-info">Info</button>
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-danger">Danger</button>
                                      </td>
                                  </tr>
                                  <tr>
                                       <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-info">Info</button>
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-danger">Danger</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
