<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Usuarios</h4>
                      <p class="card-category"> Aqui estan todos los usuarios del sistema</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Identificación
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Edad
                                  </th>
                                  <th>
                                      Cargo Academico
                                  </th>
                                  <th>
                                      Titulo
                                  </th>
                                  <th>
                                      Eliminar
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td class="text-primary">
                                          -
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td class="text-primary">
                                          -
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td class="text-primary">
                                          -
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td class="text-primary">
                                          -
                                      </td>
                                  </tr>
                                 <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td class="text-primary">
                                          -
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td>
                                          -
                                      </td>
                                      <td class="text-primary">
                                          -
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         